.saved-search-button {
    font-size: 40px;
    margin: 5px;
    padding: 0 10px;
    border: none;
    background-color: beige;
    border-radius: 0.5em;
}

.saved-search-button:hover {
    
}

.container{
    max-height: 300px;
    object-fit: contain;
    text-align: center;
    
}

.image{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.grid-container {
display: grid;
grid-template-columns: 1fr, 3fr;
grid-template-rows: repeat(8, 1fr);
grid-gap: 10px;
justify-content: center;
align-content: center;
grid-gap: 20px;
}

/*Styles sections*/

.box{
align-items: end;
box-shadow:  18px 15px 23px -2px 0,0,0,0.29 rgba(255,255,255,0.6); 
justify-content: center;
}

.box1{
    grid-area: 1 / 1 / 5 / 2;
    height: 400px;
    width: 600px;

}

.box2 {
    grid-area: 1 / 2 / 5 / 3;
    height: 800px;
    width: 600px;
}

.box3{
    grid-area: 3 / 1 / 8/ 2;
    height: 600px;
    width: 600px;
}

.box4 {
grid-area: 5 / 2 / 7 / 3 ;
 height: 200px;
 width: 600px;
 
}


/*Style the home page search*/

.field{
    object-fit: contain;
    text-align: center;
    margin: auto;
    max-width: 500px;
}

.input{
    width: 500px;
}

.title {
    text-align: center;
}




