.saved-search-button {
    font-size: 40px;
    margin: 5px;
    padding: 0 10px;
    border: none;
    background-color: beige;
    border-radius: 0.5em;
}

.saved-search-button:hover {
    
}

/*Navbar*/
.navbar-item{
    font-size: 25px;
    color: white;

}

/*Styles the Search area*/

.field{
    object-fit: contain;
    text-align: center;
    margin: auto;
    padding: 30px;
    max-width: 600px;
    
}

.input{
    width: 500px;
    height: 58px;
}


.container{
    object-fit: contain;
    text-align: center;
}

/*Aside*/
aside {
    width: 15%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: bold;
    font-size: 3em;
    background-color: #B52E2C;
    margin-right: 3em;
  }

/*Styles the grid for main page landing*/
.grid-container {
display: inline-grid;
/* grid-template-columns: 1fr, 2fr;
grid-template-rows: repeat(auto-fit, minmax(5, 1fr)); */
grid-gap: 10px 10px;
justify-content: center;
align-content: center;
margin: auto;

}

/*Styles sections*/

.box{
align-items: center;
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
justify-content: center;
background-color:  #FAEBD7;
}

/*Kanji base*/
.box1{
    grid-area: 1 / 1 / 5 / 2;
    height: 300px;
    width: 500px;

}

/*Image base*/
.box2 {
    grid-area: 1 / 2 / 5 / 3;
    height: 400px;
    width: 500px;
}

.image{
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

/*Media base*/
.box3{
    grid-area: 4 / 1 / 8 / 2;
    height: 350px;
    width: 500px;
    justify-items: end;
}

/*Search history base*/
.box4 {
grid-area: 5 / 2 / 7 / 3 ;
 height: 175px;
 width: 500px;
 
}

/* game page */
#game-title {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 40px;

}
.navbar-end{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

#option1 #option2 #option3 #option4 {
    margin: 40px auto;
}


#page-container {
    position: relative;
    min-height: 100vh;
    }

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}


#game-body, html { 
    height:100%; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero-head {
    background-color: #ba8759;
}

.title {
    text-align: center;
    background-color:#c0a58d;
      
}

#answers-base {
    background-color: #FAEBD7;
    
}

#answer-blocks{
    box-shadow: 5px 10px;
}



#kanji-game-base, body {
    background-color: #FAEBD7

}

/*Study page*/
.tile{
    background-color: #FAEBD7;
}

.is-ancestor{
    justify-content: center;
}

/*Footer*/

.footer-game {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#ba8759
    
}

/*Responsiveness*/

/* Grid */
@media (max-width: 1200px) {
    #page-container{
      display: grid;
    }
  
    .box {
       grid-column: span 1;
       grid-row: span 1;
       
       
    }
    
  body {
    max-width: 1600px;
    margin: 0 auto;
  }

}



