/* body {
   
} */

/*Saved search button*/

.saved-search-button {
  font-size: 40px;
  margin: 5px;
  padding: 0 10px;
  border: none;
  background-color: beige;
  border-radius: 0.5em;
}

/* .saved-search-button:hover {
    
} */



/*Navbar*/
.navbar-item{
    font-size: 25px;
    color: white;

}

.navbar-item:hover{
    background-color: #B52E2C !important;
}

/*Styles the Search area*/

.field{
    object-fit: contain;
    text-align: center;
    margin: auto;
    padding: 30px;
    max-width: 600px;
    
}

.input{
    width: 500px;
    height: 58px;
    background-color: seashell;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
}

.button{
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
}

.container{
    object-fit: contain;
    text-align: center;
}

/*Aside*/
aside {
    width: 15%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: bold;
    font-size: 3em;
    background-color: #B52E2C;
    margin-right: 3em;
  }

/*Styles the grid for main page landing*/
.grid-container {
display: inline-grid;
/* grid-template-columns: 1fr, 2fr;
grid-template-rows: repeat(auto-fit, minmax(5, 1fr)); */
grid-gap: 10px 10px;
justify-content: center;
align-content: center;
margin: auto;

}

/*Styles sections*/

.box{
align-items: center;
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
justify-content: center;
background-color:  #FAEBD7;
}

/*Kanji base*/
.box1{
    grid-area: 1 / 1 / 5 / 2;
    height: 20em;
    width: 30em;

}

/*Image base*/
.box2 {
  grid-area: 1 / 2 / 5 / 3;
  height: 25em;
  width: 30em;
}



.image{
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

/*Media base*/
.box3{
    grid-area: 4 / 1 / 8 / 2;
    height: 18em;
    width: 30em;
    justify-items: end;
}

/*Search history base*/
.box4 {
    grid-area: 5 / 2 / 7 / 3 ;
    height: 225px;
    width: 500px;
}

/* Modal flavor, copied from w3 schools, we should customize */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box copied from w3 schools, we should customize */
.modal-content {
    background-color: #faebd7;
    border-radius: 0.5em;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

  /* The Close Button, copied from w3 schools, we should customize */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* The Close Button, copied from w3 schools, we should customize */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#clear-button {
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #555555;
  color: white;
}

/*Style the home page search*/

.field {
  object-fit: contain;
  text-align: center;
  margin: auto;
  max-width: 500px;
}

.input {
  width: 500px;
}

/*Media styling mitch*/

#play-audio {
  margin: 40px auto;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #555555;
  color: white;
}

video {
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 220px;
}

/*Kanji img styling mitch*/

img {
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* game page */
.box22 {
    grid-area: 1 / 2 / 5 / 3;
    height: 400px;
    width: 600px;
    background-color: #faebd7;
  }

#game-title {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 66px;
  color: #fffaf0
}
.navbar-end {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.column-game {
  position: relative;
  top: 200px;
}

#start-game {
  text-align: center;
  color:#fffaf0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.hero-head {
    background-color: #ba8759;
    height: 160px;
}

.flip {
    text-align: center;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.review-text {
    font-size: 30px;
    font-weight: bold;
}

#score-flip {
    text-align: center;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*html {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}*/


.title {
  text-align: center;
  opacity: 0.5;
  font-size: 2rem;
}

#answers-base {
    border-style: solid;
    border-color: #ba8759;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/41/44/105850c6261c69f.jpg");
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


#kanji-game-base {
    border-style: solid;
    border-color: #ba8759;
  text-align: center;
  position: relative;
  font-size: 999%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/41/44/105850c6261c69f.jpg");
}

#html2 {
    background-size: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("https://kitote.jp/en/products/images/shoji_standard02.jpg")
  
}
/* literally had to reflip content after i flipped background */
#option1,
#option2,
#option3,
#option4 {
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #555555;
  color:#fffaf0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*Study page*/
.tile{
    background-color: #FAEBD7;
}

.is-ancestor{
    justify-content: center;
}

.is-child{
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
    margin: none;
}

/*Footer*/

.footer-game {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#ba8759;
    /* position: sticky; */
    
}

/*Responsiveness*/

/* Grid */
@media (max-width: 1200px) {
    #page-container{
      display: grid;
    }
  
    .box {
       grid-column: span 1;
       grid-row: span 1;
       
       
    }
    
  body {
    max-width: 1600px;
    margin: 0 auto;
  }

}



